@import 'tailwindcss';

:root {
  --background: #fbfcff;
  --background-grid: rgba(0, 0, 0, 0.05);
  --foreground: rgba(0, 0, 0, 0.87);
}

.dark {
  --background: #121212;
  --background-grid: rgba(255, 255, 255, 0.05);
  --foreground: rgba(255, 255, 255, 0.87);
}

@theme {
  --color-background: var(--background);
  --color-background-grid: var(--background-grid);
  --color-foreground: var(--foreground);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:
    linear-gradient(var(--background-grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--background-grid) 1px, transparent 1px);
  background-size: 16px 16px;
  @apply bg-background text-foreground;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
