@import 'tailwindcss';

:root {
  --background: #fbfcff;
  --foreground: #0a0a0a;
  --accent: #d45113;

  --font-sans: 'Archivo Black', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f5f5f0;
  --accent: #ff5722;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);

  --font-display: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  margin: 0;
}

html {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background text-foreground font-display border-gray-200 dark:border-gray-700;
}
